
body{
    font-family:'karla',sans-serif;
    /* font-weight:  400; */
   background-color:hsl(206, 47%, 93%); 
}

.page{
    
    margin-top: 55px;
     margin-right: 300px;
     margin-left: 330px;
     /* box-shadow: 1px 1px   lightblue;   */

     
}


.main-h3{
    color: hsl(179, 62%, 43%);
}

.main-h4{
    color:  hsl(71, 73%, 54%);
}

.main-para{
    color:  hsl(218, 22%, 67%);
}

.main{
    /* text-align: center; */
    width: 660px;
    /* margin-left: 30px; */
    background-color: white;
    margin-left: auto ;
    padding: 30px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}


.left-side{
    background-color:hsl(179, 44%, 56%) ;
    /* text-align: center; */
    width: 300px;
    color: white;
    padding: 30px;
    font-weight:  400;
    position:relative;
    border-bottom-right-radius: 16px;
}
.p{
    color: hsla(206, 30%, 95%, 0.637);
}

.f{
    color: hsla(203, 31%, 95%, 0.829);
}

.right-side{
    background-color:  hsl(179, 58%, 45%);
     padding: 30px;
    width: 300px;
    color: white;
    font-weight:  400;
    margin-left: auto;
    position:relative;
    border-bottom-left-radius: 16px;
}
.span{
    /* margin-left: -120px; */
    font-size: 36px;

}

.span-para{
    color: rgb(245, 238, 238,0.5);
     
}
.sign{
    background-color: hsl(71, 73%, 54%);
    width: 250px;
    border: none;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight:790;
    font-size: 16px;
}

.bottom{
    display: flex;
    justify-content: center;

}

